

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <link rel = "stylesheet" th:href="@{/assets/css/adminDashboard.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />

    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>

    <!-- JS: layout components -->
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>

     <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>

</head>



<body>
    <div class = "container"> 
         <div class="wrapper">
                <div id="header"></div>
                 <main class = "main-content"> 
                    <input type = "text"id = "searchBar" placeholder="search by doctor name"/>
                     <!-- filters -->
                      <div class = "filters">
                        <select id = "timeSort"class = "select-dropdown">
                                <option value="">Sort by time</option>
                                <option value="asc">Earliest → Latest</option>
                                <option value="desc">Latest → Earliest</option>
                        </select>
                        <!-- dynamic doctor cards list -->
                        <div id = "comtent"> </div>
                      
                 </main>
                  <!-- injected by footer.js -->
                     <div id="footer"></div>
         </div>
    </div>
        <!-- Modal (hidden/visible controlled by JS/CSS) -->
         <div id = "modal"class = "modal hidden">
            <div class = "modal-content">
                <span id="closeModal" class="close">&times;</span>
                 <div id="modal-body"></div>
            </div>
         </div>

         <!-- page scripts -->
    <script type="module" th:src="@{/js/services/adminDashboard.js}" defer></script>
    <script type="module" th:src="@{/js/components/doctorCard.js}" defer></script>
   
</body>
</html>